.footer {
    overflow-x: hidden;
    font-style: normal;
    font-family: "Muli", sans-serif;
    height: 30vh;
    width: 100%;
    background-color: black;
    text-align: center;
}

.footer-col-about {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.about-bttn {
    background-color: black !important;
}

.footer-copy-r {
    color: white;
    text-align: center;
}

.contact-title {
    margin-left: 12rem;
    margin-right: auto;
}

@media (max-width: 1315px) {
    .footer {
        margin-top: 10rem;
    }
}