@import './solarSystem.css';
@import './solarSystemCard.css';
@import './landing.css';
@import './nextPage.css';
@import './nav.css';
@import './about.css';

:root {
    /* color variables */
    --ring: 1px solid lightgray;
    --ring-hover: 2px solid white;
}

body, html {
    height: 100%;
    background-size: cover;
    background: linear-gradient(155.33deg, #9FD9FF 7.17%, rgba(41, 86, 116, 0.888542) 22.79%, #000000 36.12%)!important;
    background-repeat: no-repeat !important;
    background-color: black !important;
}