.menu-wrap {
    background: transparent;
    margin-top: 0 !important;
}

nav {
    font-family: "Muli", sans-serif;
    margin-top: 30px;
}

nav ul li{
    display: inline-block;
    padding: 5px 30px;
}

nav a { 
    color: white;
    text-decoration: none; 
    font-size: 15px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

nav a:hover {
    color: white;
}