.solar-system {
    height: 100vh !important;
}
 /*
        Orbital speeds (km/s)
        M - 48 
        V - 35
        E - 30
        M - 24
        J - 13
        S - 10
        U - 7
        N - 5
        P - 5
    */

/* rings */
.spinner-1 {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 47%;
    left: 50%;
    margin-top: 738px;
    margin-left: 150px;
    height: 8.5rem;
    width: 8.5rem;
    border-radius: 50%;
    border: var(--ring);
    transition: border 0.5s ease-out;
    animation: spinner 10s linear infinite;
    z-index: 10;
}

.spinner-1:hover {
    border: var(--ring-hover);
}

.spinner-2 {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 47%;
    left: 50%;
    margin-top: 710px;
    margin-left: 122px;
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    border: var(--ring);
    transition: border 0.5s ease-out;
    animation: spinner 14s linear infinite;
    z-index: 9;
}

.spinner-2:hover {
    border: var(--ring-hover);
}

.spinner-3 {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 47%;
    left: 50%;
    margin-top: 682px;
    margin-left: 94px;
    height: 15.5rem;
    width: 15.5rem;
    border-radius: 50%;
    border: var(--ring);
    transition: border 0.5s ease-out;
    animation: spinner 20s linear infinite;
    z-index: 8;
}

.spinner-3:hover {
    border: var(--ring-hover);
}

.spinner-4 {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 47%;
    left: 50%;
    margin-top: 654px;
    margin-left: 66px;
    height: 19rem;
    width: 19rem;
    border-radius: 50%;
    border: var(--ring);
    transition: border 0.5s ease-out;
    animation: spinner 26s linear infinite;
    z-index: 7;
}

.spinner-4:hover {
    border: var(--ring-hover);
}

.spinner-5 {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 47%;
    left: 50%;
    margin-top: 606px;
    margin-left: 18px;
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    border: var(--ring);
    transition: border 0.5s ease-out;
    animation: spinner 30s linear infinite;
    z-index: 6;
}

.spinner-5:hover {
    border: var(--ring-hover);
}

.spinner-6 {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 47%;
    left: 50%;
    margin-top: 550px;
    margin-left: -38px;
    height: 32rem;
    width: 32rem;
    border-radius: 50%;
    border: var(--ring);
    transition: border 0.5s ease-out;
    animation: spinner 34s linear infinite;
    z-index: 5;
}

.spinner-6:hover {
    border: var(--ring-hover);
}

.spinner-7 {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 47%;
    left: 50%;
    margin-top: 503px;
    margin-left: -85px;
    height: 38rem;
    width: 38rem;
    border-radius: 50%;
    border: var(--ring);
    transition: border 0.5s ease-out;
    animation: spinner 38s linear infinite;
    z-index: 4;
}

.spinner-7:hover {
    border: var(--ring-hover);
}

.spinner-8 {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 47%;
    left: 50%;
    margin-top: 473px;
    margin-left: -115px;
    height: 42rem;
    width: 42rem;
    border-radius: 50%;
    border: var(--ring);
    transition: border 0.5s ease-out;
    animation: spinner 42s linear infinite;
    z-index: 3;
}

.spinner-8:hover {
    border: var(--ring-hover);
}

.spinner-9 {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 47%;
    left: 50%;
    margin-top: 450px;
    margin-left: -138px;
    height: 45rem;
    width: 45rem;
    border-radius: 50%;
    border: var(--ring);
    transition: border 0.5s ease-out;
    animation: spinner 48s linear infinite;
    z-index: 2;
}

.spinner-9:hover {
    border: var(--ring-hover);
}


/* sun */
.sun {
    content: "";
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
    position: absolute;
    top: 47%;
    left: 50%;
    margin-top: 758px;
    margin-left: 170px;
    z-index: 11; 
}

/* planets */
.mercury {
    margin-left: 22px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.venus {
    margin-left: 40px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

.earth {
    margin-left: 60px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}


.mars {
    margin-left: 80px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

.jupiter {
    margin-left: 60px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.saturn {
    margin-left: 105px;
    width: 60px;
    height: 60px;
}

.uranus {
    margin-left: 200px;
    width: 25px;
    height: 25px;
}

.neptune {
    margin-left: 230px;
    width: 23px;
    height: 23px;
    border-radius: 50%;
}

.pluto {
    margin-left: 255px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}



@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 1250px) {

    .spinner-9 {
        left: 35%;
    }
    .spinner-8 {
        left: 35%;
    }
    .spinner-7 {
        left: 35%;
    }
    .spinner-6 {
        left: 35%;
    }
    .spinner-5 {
        left: 35%;
    }
    .spinner-4 {
        left: 35%;
    }
    .spinner-3 {
        left: 35%;
    }
    .spinner-2 {
        left: 35%;
    }
    .spinner-1 {
        left: 35%;
    }

    .sun {
        left: 35%;
    }
}

@media (max-width: 1250px) {

    .spinner-9 {
        left: 35%;
    }
    .spinner-8 {
        left: 35%;
    }
    .spinner-7 {
        left: 35%;
    }
    .spinner-6 {
        left: 35%;
    }
    .spinner-5 {
        left: 35%;
    }
    .spinner-4 {
        left: 35%;
    }
    .spinner-3 {
        left: 35%;
    }
    .spinner-2 {
        left: 35%;
    }
    .spinner-1 {
        left: 35%;
    }

    .sun {
        left: 35%;
    }
}

@media (max-width: 414px) {

    .spinner-1 {
        top: 47%;
        left: 7%;
        margin-top: 710px;
        margin-left: 142px;
        height: 4rem;
        width: 4rem;
    }

    .spinner-2 {
        top: 47%;
        left: 7%;
        margin-top: 690px;
        margin-left: 122px;
        height: 6.5rem; 
        width: 6.5rem;
    }
    
    .spinner-3 {
        top: 47%;
        left: 10%;
        margin-top: 670px;
        margin-left: 94px;
        height: 9rem; 
        width: 9rem;   
    }

    .spinner-4 {
        top: 47%;
        left: 12%;
        margin-top: 654px;
        margin-left: 70px;
        height: 11rem;
        width: 11rem;
    }

    .spinner-5 {
        top: 47%;
        left: 17%;
        margin-top: 620px;
        height: 15rem;
        width: 15rem;
    }

    .spinner-6 {
        top: 47%;
        left: 25%;
        margin-top: 600px;
        height: 18rem;
        width: 18rem;
    }

    .spinner-7 {
        top: 47%;
        left: 30%;
        margin-top: 573px;
        height: 21rem;
        width: 21rem;
    }

    .spinner-8 {
        top: 47%;
        left: 31%;
        margin-top: 550px;
        height: 24rem;
        width: 24rem;
    }
    
    .spinner-9 {
        display: none;
    }

    .sun {
        height: 3rem;
        width: 3rem;
        position: absolute;
        top: 47%;
        left: 7%;
        margin-top: 718px;
        margin-left: 150px;
    }

    .mercury {
        margin-left: 47px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
    }

    .venus {
        margin-left: 74px;
        width: 18px;
        height: 18px;
        border-radius: 50%;
    }

    .earth {
        margin-left: 100px;
        width: 18px;
        height: 18px;
        border-radius: 50%;
    }

    .mars {
        margin-left: 122px;
        width: 18px;
        height: 18px;
        border-radius: 50%;
    }

    .jupiter {
        margin-left: 50px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    .saturn {
        margin-left: 190px;
        width: 30px;
        height: 30px;
    }

    .uranus {
        margin-left: 220px;
        width: 25px;
        height: 25px;
    }

    .neptune {
        margin-left: 250px;
        width: 23px;
        height: 23px;
        border-radius: 50%;
    }
    
}